Repository zpcscc/utils: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-error-on-unmatched-pattern, stylelint --fix, prettier --write, eslint --fix, prettier --parser=typescript --write

.lintstagedrc:

{
  "*.{md,json}": ["prettier --write --no-error-on-unmatched-pattern"],
  "*.{css,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --parser=typescript --write"]
}

🔥update: 更新函数名称与文档
  docs/_js_docs/getColor.md
  docs/_js_docs/getUuId.md
  docs/_js_docs/toColor.md
  docs/utils_docs/desensitize/index.tsx
  docs/utils_docs/get-color.md
  docs/utils_docs/get-random-color.md
  docs/utils_docs/get-unique-id.md
  docs/utils_docs/get-uuid.md
  docs/utils_docs/getColor/index.tsx
  docs/utils_docs/toAbsolutePath/index.tsx
  docs/utils_docs/toColor.md
  docs/utils_docs/toColor/index.tsx
  docs/utils_docs/validate/index.tsx
  docs/utils_docs/walkSplit/index.tsx
  docs/utils_docs/z-transform-color.md
  package.json
  pnpm-lock.yaml
  scripts/jsdoc2md/generateMarkdownDocs.mjs
  scripts/jsdoc2md/watch.mjs
  src/getColor/__test__/index.test.ts
  src/getColor/index.ts
  src/getRandomColor/__test__/index.test.ts
  src/getUuId/__test__/index.test.ts
  src/getUuId/index.ts
  src/index.ts
  src/toColor/__test__/index.test.ts
  src/toColor/index.ts
  src/toColor/toHexColor.ts
  src/toColor/toHslColor.ts
  src/toColor/toRgbColor.ts
  src/types.ts
  src/z-transformColor/__test__/index.test.ts
  src/z-validate/index.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

✨feat: 新增getQuery函数
  docs/_js_docs/getQuery.md
  docs/utils_docs/get-query.md
  package.json
  pnpm-lock.yaml
  src/getQuery/__test__/index.test.ts
  src/getQuery/index.ts
  src/index.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

📚docs: 更新getUuid文档
  docs/utils_docs/get-uuid.md
Due: prettier --write --no-error-on-unmatched-pattern

Updates
  404.html
  guide/index.html
  index.html
  umi.5d0880c6.js
  umi.64693d87.css
  umi.b7ce68f4.css
  utils_docs/clone-deep/index.html
  utils_docs/copy-str-by-num/index.html
  utils_docs/debounce/index.html
  utils_docs/desensitize/index.html
  utils_docs/get-color/index.html
  utils_docs/get-query/index.html
  utils_docs/get-type/index.html
  utils_docs/get-uuid/index.html
  utils_docs/index.html
  utils_docs/is-empty/index.html
  utils_docs/is-number/index.html
  utils_docs/is_include_chinese/index.html
  utils_docs/parse-color/index.html
  utils_docs/pick-number/index.html
  utils_docs/remove-tag/index.html
  utils_docs/sort-versions/index.html
  utils_docs/split-str-by-len/index.html
  utils_docs/throttle/index.html
  utils_docs/to-absolute-path/index.html
  utils_docs/to-color/index.html
  utils_docs/to-data/index.html
  utils_docs/to-hex/index.html
  utils_docs/to-number/index.html
  utils_docs/to-string/index.html
  utils_docs/validate/index.html
  utils_docs/walk-split/index.html
  ~demos/:id/index.html
  ~demos/docs-utils-docs-desensitize-demo-desensitize/index.html
  ~demos/docs-utils-docs-get-color-demo-getcolor/index.html
  ~demos/docs-utils-docs-sort-versions-demo-sortversions/index.html
  ~demos/docs-utils-docs-to-absolute-path-demo-toabsolutepath/index.html
  ~demos/docs-utils-docs-to-color-demo-tocolor/index.html
  ~demos/docs-utils-docs-validate-demo-validate/index.html
  ~demos/docs-utils-docs-walk-split-demo-walksplit/index.html
Due: stylelint --fix, prettier --write

📚docs: 隐藏滚动条
  .dumi/global.css
  .lintstagedrc
  .stylelintignore
  .stylelintrc
  package.json
  pnpm-lock.yaml
Due: prettier --write --no-error-on-unmatched-pattern, stylelint --fix, prettier --write

🐛fix: 修复部分函数没有导出的问题
  package.json
  src/index.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

✨feat: 新增omit与pick方法
  docs/_js_docs/copyStrByNum.md
  docs/_js_docs/omit.md
  docs/_js_docs/pick.md
  docs/utils_docs/omit.md
  docs/utils_docs/pick.md
  package.json
  src/cloneDeep/__test__/index.test.ts
  src/cloneDeep/index.ts
  src/copyStrByNum/index.ts
  src/index.ts
  src/omit/__test__/index.test.ts
  src/omit/index.ts
  src/pick/__test__/index.test.ts
  src/pick/index.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

✨feat: 新增并发请求控制函数
  docs/_js_docs/fetchAll.md
  docs/utils_docs/fetch-all.md
  package.json
  src/fetchAll/__test__/index.test.ts
  src/fetchAll/index.ts
  src/fetchAll/semaphore.ts
  src/index.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

🔥update: 优化倒计时函数
  docs/_js_docs/parseTime.md
  package.json
  pnpm-lock.yaml
  src/countdown/__test__/index.test.ts
  src/countdown/index.ts
  src/parseTime/__test__/index.test.ts
  src/parseTime/index.ts
  src/types.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

🔥update: 更新countdown函数,新增stop返回值,用于中途停止倒计时
  docs/_js_docs/countdown.md
  package.json
  src/countdown/__test__/index.test.ts
  src/countdown/index.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

✨feat: 新增状态管理工具 atomStore
  docs/_js_docs/atomStore.md
  docs/_js_docs/cloneDeep.md
  docs/_js_docs/copyStrByNum.md
  docs/_js_docs/countdown.md
  docs/_js_docs/debounce.md
  docs/_js_docs/desensitize.md
  docs/_js_docs/fetchAll.md
  docs/_js_docs/getColor.md
  docs/_js_docs/getQueryParmas.md
  docs/_js_docs/getType.md
  docs/_js_docs/getUuId.md
  docs/_js_docs/isEmpty.md
  docs/_js_docs/isIncludeChinese.md
  docs/_js_docs/isNumber.md
  docs/_js_docs/omit.md
  docs/_js_docs/parseColor.md
  docs/_js_docs/parseTime.md
  docs/_js_docs/pick.md
  docs/_js_docs/pickNumber.md
  docs/_js_docs/removeTag.md
  docs/_js_docs/setQueryParmas.md
  docs/_js_docs/sortVersions.md
  docs/_js_docs/splitStrByLen.md
  docs/_js_docs/throttle.md
  docs/_js_docs/toAbsolutePath.md
  docs/_js_docs/toColor.md
  docs/_js_docs/toData.md
  docs/_js_docs/toHex.md
  docs/_js_docs/toNumber.md
  docs/_js_docs/toString.md
  docs/_js_docs/toTimestamp.md
  docs/_js_docs/validate.md
  docs/_js_docs/walkSplit.md
  docs/utils_docs/atom-store.md
  package.json
  pnpm-lock.yaml
  scripts/jsdoc2md/template.hbs
  src/atomStore/__test__/index.test.ts
  src/atomStore/index.ts
  src/index.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

📚docs: 更新文档与部分依赖
  docs/_js_docs/cloneDeep.md
  docs/_js_docs/copyStrByNum.md
  docs/_js_docs/countdown.md
  docs/_js_docs/debounce.md
  docs/_js_docs/desensitize.md
  docs/_js_docs/fetchAll.md
  docs/_js_docs/getColor.md
  docs/_js_docs/getQueryParmas.md
  docs/_js_docs/getType.md
  docs/_js_docs/getUuId.md
  docs/_js_docs/isEmpty.md
  docs/_js_docs/isIncludeChinese.md
  docs/_js_docs/isNumber.md
  docs/_js_docs/omit.md
  docs/_js_docs/parseColor.md
  docs/_js_docs/parseTime.md
  docs/_js_docs/pick.md
  docs/_js_docs/pickNumber.md
  docs/_js_docs/removeTag.md
  docs/_js_docs/setQueryParmas.md
  docs/_js_docs/sortVersions.md
  docs/_js_docs/splitStrByLen.md
  docs/_js_docs/throttle.md
  docs/_js_docs/toAbsolutePath.md
  docs/_js_docs/toColor.md
  docs/_js_docs/toData.md
  docs/_js_docs/toHex.md
  docs/_js_docs/toNumber.md
  docs/_js_docs/toString.md
  docs/_js_docs/toTimestamp.md
  docs/_js_docs/validate.md
  docs/_js_docs/walkSplit.md
  package.json
  pnpm-lock.yaml
  scripts/jsdoc2md/template.hbs
Due: prettier --write --no-error-on-unmatched-pattern
