Repository zpcscc/utils: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-error-on-unmatched-pattern, stylelint --fix, prettier --write, eslint --fix, prettier --parser=typescript --write

🔥update: 更新依赖
  package.json
  pnpm-lock.yaml
Due: prettier --write --no-error-on-unmatched-pattern

📚docs: 调整整数校验文档
  docs/utils/validate-integer.md
Due: prettier --write --no-error-on-unmatched-pattern

🔥update: 更新部分依赖
  package.json
  pnpm-lock.yaml
Due: prettier --write --no-error-on-unmatched-pattern

✨feat: 补充文档，新增部分函数，完善jest测试
  README.md
  docs/utils/get-type.md
  docs/utils/is-empty.md
  docs/utils/is-nil.md
  docs/utils/is-number.md
  docs/utils/is-object.md
  docs/utils/is-symbol.md
  docs/utils/parse-color-hex.md
  docs/utils/parse-color-hsl.md
  docs/utils/parse-color-rgb.md
  docs/utils/parse-color.md
  docs/utils/to-hex.md
  docs/utils/to-integer.md
  docs/utils/to-number.md
  docs/utils/to-string.md
  docs/utils/toString/index.tsx
  jest.config.ts
  package.json
  src/getType/getType.test.ts
  src/index.ts
  src/isEmpty/index.ts
  src/isEmpty/isEmpty.test.ts
  src/isNumber/index.ts
  src/isNumber/isNumber.test.ts
  src/parseColor/parseColor.test.ts
  src/toData/index.ts
  src/toData/toData.test.ts
  src/toFinite/index.ts
  src/toFinite/toFinite.test.ts
  src/toInteger/index.ts
  src/toNumber/index.ts
  src/toNumber/toNumber.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

🚨test: 调整测试命令
  package.json
Due: prettier --write --no-error-on-unmatched-pattern

📚docs: 更新readme
  README.md
Due: prettier --write --no-error-on-unmatched-pattern

✨feat: 新增getDayOfDate、getUniqueId、parseQuery、removeTag函数
  .eslintrc.js
  docs/index.tsx
  docs/typings.d.ts
  docs/utils/get-day-of-date.md
  docs/utils/get-unique-id.md
  docs/utils/getDayOfDate/index.tsx
  docs/utils/parse-query.md
  docs/utils/z-remove-tag.md
  src/getDayOfDate/getDayOfDate.test.ts
  src/getDayOfDate/index.ts
  src/getType/getType.test.ts
  src/getUniqueId/getUniqueId.test.ts
  src/getUniqueId/index.ts
  src/index.ts
  src/parseColorHex/index.ts
  src/parseColorHsl/index.ts
  src/parseColorRgb/index.ts
  src/parseColorRgb/parseColorRgb.test.ts
  src/parseQuery/index.ts
  src/parseQuery/parseQuery.test.ts
  src/removeTag/index.ts
  src/removeTag/removeTag.test.ts
  src/toColorHex/toColorHex.test.ts
  src/toColorHsl/toColorHsl.test.ts
  src/toColorRgb/toColorRgb.test.ts
  src/toData/toData.test.ts
  src/toString/toString.test.ts
  src/validate/index.ts
  src/validateIDCard/index.ts
  src/z-sortVersions/index.ts
  src/z-sortVersions/sortVersions.test.ts
  src/z-z-dev/getDayOfYear/index.ts
  src/z-z-dev/z-removeTag/index.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

✨feat: 新增debounce与throttle函数
  docs/utils/func-debounce.md
  docs/utils/func-throttle.md
  jest.config.ts
  src/func-debounce/debounce.test.ts
  src/func-debounce/index.ts
  src/func-throttle/index.ts
  src/func-throttle/throttle.test.ts
  src/index.ts
  src/toString/index.ts
  src/types.ts
  src/typings.d.ts
  src/z-removeTag/index.ts
  src/z-removeTag/removeTag.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

✨feat: 脱敏函数开发
  docs/utils/to-string.md
  src/index.ts
  src/toString/index.ts
  src/toString/toString.test.ts
  src/z-desensitize/desensitize.test.ts
  src/z-desensitize/index.ts
  src/z-removeTag/index.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

✨feat: 新增knip，检查项目未用到的文件或依赖
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/z-sortVersions/index.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

🐛fix: 修复typescript版本错误
  docs/utils/parse-color-hex.md
  docs/utils/parse-color-hsl.md
  docs/utils/parse-color-rgb.md
  package.json
  pnpm-lock.yaml
  src/func-debounce/debounce.test.ts
  src/parseColor/index.ts
  src/z-transformColor/__test__/transformColor.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

🔥update: 调整test文件目录
  src/func-debounce/__test__/debounce.test.ts
  src/func-throttle/__test__/throttle.test.ts
  src/getDayOfDate/__test__/getDayOfDate.test.ts
  src/getRandomColor/__test__/getRandomColor.test.ts
  src/getType/__test__/getType.test.ts
  src/getUniqueId/__test__/getUniqueId.test.ts
  src/isEmpty/__test__/isEmpty.test.ts
  src/isNil/__test__/isNil.test.ts
  src/isNumber/__test__/isNumber.test.ts
  src/isObject/__test__/isObject.test.ts
  src/isSymbol/__test__/isSymbol.test.ts
  src/parseQuery/__test__/parseQuery.test.ts
  src/toAbsolutePath/__test__/toAbsolutePath.test.ts
  src/toData/__test__/toData.test.ts
  src/toHex/__test__/toHex.test.ts
  src/toInteger/__test__/toInteger.test.ts
  src/toNumber/__test__/toNumber.test.ts
  src/toString/__test__/toString.test.ts
  src/z-desensitize/__test__/desensitize.test.ts
  src/z-removeTag/__test__/removeTag.test.ts
  src/z-sortVersions/__test__/sortVersions.test.ts
  src/z-sortVersions/index.ts
  src/z-walkSplit/__test__/walkSplit.test.ts
Due: eslint --fix, prettier --parser=typescript --write

✨feat: 初步实现自动化生成文档
  docs/_docs/func-debounce.md
  docs/_docs/func-throttle.md
  docs/_docs/getRandomColor.md
  docs/_docs/getType.md
  docs/_docs/getUniqueId.md
  docs/_docs/isEmpty.md
  docs/_docs/isNil.md
  docs/_docs/isNumber.md
  docs/_docs/isObject.md
  docs/_docs/isSymbol.md
  docs/_docs/parseColor.md
  docs/_docs/parseQuery.md
  docs/_docs/toAbsolutePath.md
  docs/_docs/toData.md
  docs/_docs/toHex.md
  docs/_docs/toInteger.md
  docs/_docs/toNumber.md
  docs/_docs/toString.md
  docs/_docs/validate.md
  docs/_docs/z-desensitize.md
  docs/_docs/z-removeTag.md
  docs/_docs/z-sortVersions.md
  docs/_docs/z-walkSplit.md
  docs/utils/func-debounce.md
  package.json
  pnpm-lock.yaml
  scripts/jsdoc2md/index.mjs
  scripts/jsdoc2md/jsdoc.config.json
  scripts/jsdoc2md/template.hbs
  scripts/jsdoc2md/watch.mjs
  src/func-debounce/index.ts
  tsconfig.json
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

✨feat: 新增脱敏函数，更新5.0.0
  README.md
  docs/_js_docs/str-desensitize.md
  docs/guide/index.md
  docs/index.md
  docs/utils_docs/desensitize/index.tsx
  docs/utils_docs/index.md
  docs/utils_docs/str-desensitize.md
  docs/utils_docs/transformColor/index.tsx
  package.json
  pnpm-lock.yaml
  src/func-debounce/__test__/index.test.ts
  src/func-debounce/index.ts
  src/index.ts
  src/str-desensitize/__test__/desensitizeBankCard.test.ts
  src/str-desensitize/__test__/desensitizeDefault.test.ts
  src/str-desensitize/__test__/desensitizeIDCard.test.ts
  src/str-desensitize/__test__/desensitizeName.test.ts
  src/str-desensitize/__test__/desensitizePhone.test.ts
  src/str-desensitize/__test__/desensitizeTelephone.test.ts
  src/str-desensitize/__test__/index.test.ts
  src/str-desensitize/desensitizeBankCard.ts
  src/str-desensitize/desensitizeIDCard.ts
  src/str-desensitize/desensitizePhone.ts
  src/str-desensitize/desensitizeTelephone.ts
  src/str-desensitize/index.ts
  src/str-splitStrByLen/__test__/index.test.ts
  src/str-splitStrByLen/index.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

📚docs: 更新文档中的部分名称
  babel.config.js
  docs/utils_docs/desensitize/index.tsx
  docs/utils_docs/transformColor/index.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

🔥update: 调整银行卡脱敏函数
  src/str-desensitize/desensitizeBankCard.ts
Due: eslint --fix, prettier --parser=typescript --write

Updates
  404.html
  66.523506c3.async.js
  66.e4356e8b.async.js
  demos.19d619df.async.js
  demos.31e16fc9.async.js
  guide/index.html
  index.html
  umi.5cb94107.js
  utils_docs/get-random-color/index.html
  utils_docs/get-type/index.html
  utils_docs/get-unique-id/index.html
  utils_docs/index.html
  utils_docs/is_include_chinese/index.html
  utils_docs/parse-color/index.html
  utils_docs/parse-query/index.html
  utils_docs/str-copy-str-by-num/index.html
  utils_docs/str-desensitize/index.html
  utils_docs/str-split-str-by-len/index.html
  utils_docs/to-absolute-path/index.html
  utils_docs/to-data/index.html
  utils_docs/to-hex/index.html
  utils_docs/to-string/index.html
  utils_docs/z-remove-tag/index.html
  utils_docs/z-sort-versions/index.html
  utils_docs/z-transform-color/index.html
  utils_docs/z-validate/index.html
  utils_docs/z-walk-split/index.html
  ~demos/:id/index.html
  ~demos/docs-utils-docs-get-random-color-demo-getrandomcolor/index.html
  ~demos/docs-utils-docs-str-desensitize-demo-desensitize/index.html
  ~demos/docs-utils-docs-to-absolute-path-demo-toabsolutepath/index.html
  ~demos/docs-utils-docs-z-sort-versions-demo-sortversions/index.html
  ~demos/docs-utils-docs-z-transform-color-demo-transformcolor/index.html
  ~demos/docs-utils-docs-z-validate-demo-validate/index.html
  ~demos/docs-utils-docs-z-walk-split-demo-walksplit/index.html
Due: none

📚docs: 更新自动文档
  .husky/pre-commit
Due: none

🐛fix: 修复脱敏空格判断，调整手机号脱敏规则
  src/str-desensitize/__test__/desensitizePhone.test.ts
  src/str-desensitize/__test__/index.test.ts
  src/str-desensitize/desensitizeBankCard.ts
  src/str-desensitize/desensitizePhone.ts
  src/str-desensitize/index.ts
Due: eslint --fix, prettier --parser=typescript --write

✨feat: 新增pickNumber函数
  docs/_js_docs/isEmpty.md
  docs/_js_docs/isNumber.md
  docs/_js_docs/pickNumber.md
  docs/_js_docs/str-desensitize.md
  docs/_js_docs/toNumber.md
  docs/utils_docs/index.md
  docs/utils_docs/is-empty.md
  docs/utils_docs/is-number.md
  docs/utils_docs/pick-number.md
  docs/utils_docs/to-number.md
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/isEmpty/__test__/index.test.ts
  src/isEmpty/index.ts
  src/isNumber/__test__/index.test.ts
  src/isNumber/index.ts
  src/parseColor/index.ts
  src/parseColor/parseHex.ts
  src/parseColor/parseHsl.ts
  src/parseColor/parseRgb.ts
  src/pickNumber/__test__/index.test.ts
  src/pickNumber/index.ts
  src/regular.ts
  src/str-desensitize/desensitizeBankCard.ts
  src/str-desensitize/desensitizeDefault.ts
  src/str-desensitize/desensitizeName.ts
  src/str-desensitize/desensitizePhone.ts
  src/toNumber/__test__/index.test.ts
  src/toNumber/index.ts
  src/types.ts
  src/z-validate/__test__/validateDate.test.ts
  src/z-validate/validateDate.ts
  src/z-validate/validateEmail.ts
  src/z-validate/validateIDCard.ts
  src/z-validate/validateInteger.ts
  src/z-validate/validatePhone.ts
  src/z-validate/validateUrl.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint --fix, prettier --parser=typescript --write

Path conditions:
  prettier --write --no-error-on-unmatched-pattern: any of: *.{md,json}
  stylelint --fix: any of: *.{css,less}
  prettier --write: any of: *.{css,less}
  eslint --fix: any of: *.{ts,tsx}
  prettier --parser=typescript --write: any of: *.{ts,tsx}
